

@{
    ViewBag.PageTitle = "Products Page";
    ViewBag.CardTitle = "Products List";
}

<div>
    <a href="/Admin/Product/Create" class="btn btn-success">Add New</a>
</div>

<br />
<table id="MyTable" class="table table-hover" width="100%">
    <thead class="text-bold">
    <tr>
        <th>Name</th>
        <th>Describtion</th>
        <th>Price</th>
        <th>Category</th>
        <th>Operations</th>

    </tr>
    </thead>
</table>


@section Scripts {
    <script src="~/js/products.js"></script>
}
